.main-bodyCad {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 2%;
    align-items: center;
}
.main-bodyCadProduto{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    align-items: center;
}
.main-containerCad {
    background-color: #f0f0f0;
    padding: 1%;
    margin-top: 1%;
    display: flex;
    justify-content: center;

}
/* Estilo principal do formulário */
.cadastro-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 60%;
    margin-top: 1%;
    
}

/* Estilo para os grupos de formulário */
.form-group {
    display: flex;
    align-items: center; /* Alinha verticalmente o label e o input */
    margin-bottom: 15px;
}

/* Estilo para os labels */
.form-group label {
    font-family: 'Rubik', sans-serif;
    color: #333; 
    font-weight: bold;
    margin-right: 15px; 
    text-align: right; /* Alinha o texto do label à direita */
}

/* Estilo para inputs e selects */
.form-group input,
.form-group select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* Ajusta o espaço ocupado pelo input */
    width: 90%;
}

/* Alinhamento para os campos que devem estar lado a lado */
.form-group-inline {
    display: flex;
    gap: 15px; /* Espaçamento entre os campos */
}

/* Estilo para o campo de endereço e número */
.form-group-titileOrdem {
    flex: 3; /* Maior largura para o campo de endereço */
}

.form-group-buttonAddOrdem {
    flex: 1; /* Menor largura para o campo de número */
}

/* Estilo para os botões */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0a2139;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #0a2139;
}

.cadastro-form h2 {
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"]#numero {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;

}
/* Adicionando estilo para o submenu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #0a2139;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.dropdown-button:hover {
    background-color: #0a2139;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.submenu a {
    padding: 8px;
    text-decoration: none;
    color: #0a2139;
    border-radius: 4px;
}

.submenu a:hover {
    background-color: #f0f0f0;
}

.nav-links {
    display: flex;
    gap: 20px;
}
.form-group-quantidade {
   
    font-family: 'Rubik', sans-serif;
    color: #333; 
    font-weight: bold;
    border-radius: 4px;
    width: 90%;
    
}
#valorProduto {
    font-family: 'Rubik', sans-serif;
    color: #333; 
    font-weight: bold;
    padding: 38%;
}